.topo {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.topo h2 {
    color: red;
    font-weight: bold;
}

.barra-filtros {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.input-pesquisa {
    padding: 6px 12px;
    border-radius: 8px;
    border: 2px solid #ffc107;
    width: 260px;
}

.box-filtrar {
    display: flex;
    align-items: center;
    gap: 8px;

    border: 2px solid #ffc107;
    border-radius: 8px;
    padding: 6px 12px;

    width: fit-content;
}

.box-filtrar select {
    padding: 6px;
    border-radius: 6px;
}

.checkbox-salvar-filtros {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    cursor: pointer;
}

.barra-filtros .checkbox-salvar-filtros {
    margin-left: 10px;
}
.btn-novo {
    padding: 8px 14px;
    background-color: red;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-right: auto;
}

.box-amarela {
    display: flex;
    align-items: center;
    gap: 55px;

    border: 3px solid #ffc107;
    border-radius: 12px;
    padding: 15px;

    width: fit-content;
}

.btn-pesquisar {
    background-color: red;
    color: white; 
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
}
.btn-pesquisar:hover {
    background-color: darkred;
}

.box-geral {
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
}

.box-titulo {
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.box-historico {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.box-historico a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.box-form {
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
}

.box-campo {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.box-botao {
    text-align: right;
}


